/* ----- Général ----- */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    cursor: url(/ressources/cursors/default.cur), auto;
}

h1, h2, h3, h4, h5, h6, p, input, textarea {
    cursor: url(/ressources/cursors/text.cur), text;
}

a, button, label {
    cursor: url(/ressources/cursors/pointer.cur), pointer;
}

aside, aside h1, aside h2, aside h3, aside h4, aside h5, aside h6, aside p, aside input, aside textarea, aside a {
    cursor: auto;
}

aside button, aside label {
    cursor: pointer;
}

body {
    font-family: 'Yantramanav', sans-serif;
    color: #282828;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a img {
    border: none;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.important {
    font-weight: bold !important;
    font-size: 1.45em !important;
    margin: 20px 0;
}

.subtitle {
    font-weight: bold !important;
    font-size: 1.2em !important;
    margin: 10px 0 5px;
}

.label-container {
    display: flex;
}

.label-container:focus > span {
    outline: dotted 1px;
    outline: -webkit-focus-ring-color auto 1px;
}

.label-container:focus, .label-container > span:focus {
    outline: none;
}

.ie-error {
    text-align: center;
    padding: 15px 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 25;
    background-color: #fff;
    border: solid 4px red;
    border-radius: 20px;
}

.link {
    position: relative;
    background-image: linear-gradient(to right, transparent 50%, #BF3BC7 50%, #F88FFF);
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 2px;
    height: 2px;
    width: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    z-index: -1;
}

.link:hover::after {
    animation: underline-effect 1s;
}

@keyframes underline-effect {
    0% {
        background-position: 100%;
    }
    50.525% {
        background-position: 0;
    }
    50.526% {
        background-position: 200%;
    }
    100% {
        background-position: 100%;
    }
}

/* ----- Header ----- */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: #282828;
    color: white;
    text-transform: uppercase;
    z-index: 10;
}

nav, nav ul {
    width: 100%;
    height: 100%;
    display: flex;
}

nav {
    align-items: center;
    padding: 0 20px;
    position: relative;
}

#logo {
    padding: 0 20px;
    display: flex;
}

nav li {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

#open-donate-menu {
    margin-left: auto;
    margin-right: 20px;
}

nav li:not(#open-donate-menu)::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity .35s;
}

nav li:not(#open-donate-menu)::before {
    background-color: #1C1C1C;
}

nav li:not(#open-donate-menu):hover::before {
    opacity: 1;
}

nav li a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

nav li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #8AF7FF;
    opacity: 0;
    transition: opacity .35s;
}

#active-page::after {
    opacity: 1;
}

nav ul:hover #active-page::after {
    opacity: 0;
}

nav li:hover::after, #active-page:hover::after {
    opacity: 1 !important;
}

#hamburger-btn, #donate {
    display: none;
}

label[for=hamburger-btn] {
    position: absolute;
    top: 35px;
    left: 35px;
    transform: translateY(-50%);
    display: none;
}

label[for=hamburger-btn] span {
    display: inline-block;
}

#hamburger-stroke, #hamburger-stroke::before, #hamburger-stroke::after {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
}

#hamburger-stroke::before, #hamburger-stroke::after {
    content: "";
    position: absolute;
    transition: top .2s .2s, bottom .2s .2s, transform .2s;
}

#hamburger-stroke {
    position: relative;
    transition: background-color 0s .2s;
}

#hamburger-stroke::before {
    bottom: 12px;
}

#hamburger-stroke::after {
    top: 12px;
}

/* ----- Body ----- */

.btn {
    color: white;
    font-weight: bold;
    background-color: #F88FFF;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    position: relative;
    overflow: hidden;
    border-bottom: 4px solid #BF3BC7;
}

.btn:hover {
    margin-top: 1px;
    border-bottom-width: 3px;
}

.btn:active {
    margin-top: 4px;
    border-bottom-width: 0;
}

h1 {
    font-family: 'Fugaz One', cursive;
    text-align: center;
    font-size: 64px;
    text-shadow: 0 0 5px white;
    padding: 0 60px;
}

h1::after {
    content: "";
    height: 3px;
    width: 88%;
    display: block;
    margin: -3px auto 25px;
    background-color: #1C1C1C;
    border-radius: 1.5px;
}

#home {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background-image: url(https://cdn.cloudflare.steamstatic.com/steam/apps/345370/ss_058ca72c66aac8a3cb88e518ffd75c86c363efe6.1920x1080.jpg?t=1597353918);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px) brightness(0.9);
    z-index: -1;
}

section:not(#home) {
    padding: 25px 120px;
}

h2 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 60px;
    margin-bottom: 40px;
}

.float-container {
    width: 100%;
    overflow-y: hidden;
}

.float-container > img {
    float: left;
    width: 50%;
    margin: 0 30px 15px 0;
}

.float-container {
    font-size: 20px;
}

.float-container p {
    text-align: justify;
}

.icons {
    display: flex;
    flex-wrap: wrap;
}

.icons > li:not(:last-child) {
    margin-right: 75px;
}

.icons ul {
    display: flex;
    flex-wrap: wrap;
}

.icons ul li:not(:last-child) {
    margin-right: 25px;
}

.icons img {
    height: 45px;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 11;
    overflow-y: scroll;
    display: none;
}

aside .big-container {
    width: 100%;
    max-width: 750px;
    margin: 60px auto;
    padding: 10px 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#donate:checked ~ aside {
    display: block;
    animation: smooth-bg-appear .3s forwards;
}

@keyframes smooth-bg-appear {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, .5);
    }
}

#donate:checked ~ aside .big-container {
    animation: box-appear .6s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes box-appear {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0);
    }
}

aside label[for=donate] {
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 22px;
    background-color: #E9E9E9;
    border-radius: 6px;
    transition: background-color .35s;
}

aside label[for=donate] > span {
    padding: 6px 16px;
}

aside label[for=donate]:hover {
    background-color: #D6D6D6;
}

aside h2 {
    width: 100%;
    padding: 14px 90px;
    margin-bottom: 0;
}

aside p {
    font-size: 22px;
    text-align: center;
}

/* ----- Footer ----- */

h3 {
    font-size: 30px;
    margin-bottom: 25px;
}

footer {
    color: white;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer li {
    margin: 5px 18px;
    flex-shrink: 0;
}

footer li a, footer label > span {
    display: flex;
    align-items: center;
}

footer li a > *, footer label > span > * {
    margin: 0 6px;
}

footer svg {
    height: 45px;
    width: 45px;
    transition: transform .5s ease-out;
}

footer svg path, footer svg circle {
    transition: fill .35s .2s;
}

footer a:hover svg, footer label:hover svg {
    transform: rotate(360deg);
}

footer a:hover svg path, footer label:hover svg path {
    fill: #282828;
}

footer a:hover svg circle, footer label:hover svg circle {
    fill: white;
}

/* ----- PayPal ----- */

#smart-button-container {
    margin-top: 30px;
    width: 60%;
}

#smart-button-container div {
    text-align: center;
}

#payment-error {
    display: none;
    color:red;
    text-align: center;
    font-weight: bold;
    margin-top: 14px;
}

#paypal-button-container {
    margin-top: 14px;
}

#amount {
    width: 100%;
    width: calc(100% + 25.5px);
    font-size: 18px;
    padding: 15px 20px;
    background-color: #dadadc;
    color: #585858;
    border: none;
    text-align: center;
    grid-area: 1 / 1 / span 1 / span 2;
}

#amount:focus {
    outline: none;
}

#amount::placeholder {
    color: #a1a1a1;
}

#amount-container {
    overflow: hidden;
    border-radius: 4px;
    display: grid;
    justify-items: end;
    grid-template: auto / 1fr 51px;
}

#amount-container:focus-within {
    outline: solid 2px;
    outline: -webkit-focus-ring-color auto 1px;
}

#amount-container > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    background-color: #bfbfbf;
    grid-area: 1 / 2 / span 1 / span 1;
}

.payment-success {
    background-color: rgba(142, 189, 126, .5);
    border: 1px solid rgb(142, 189, 126);
    border-radius: 6px;
    padding: 25px 40px;
    margin: 30px 0;
    display: none;
}

/* ----- Medias queries ----- */

@media screen and (max-width: 1450px) {
    .icons {
        clear: left;
    }
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 56px;
    }
    h2 {
        font-size: 48px;
    }
    h3 {
        font-size: 26px;
        margin-bottom: 15px;
    }
    .btn {
        font-size: 1em;
    }
    .float-container {
        font-size: 16px;
    }
    aside p, aside label[for=donate] {
        font-size: 20px;
    }
    .icons img {
        height: 40px;
    }
    .icons ul li:not(:last-child) {
        margin-right: 10px;
    }
}

@media screen and (max-width: 860px) {
    footer li {
        margin: 5px 6px;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 46px;
        margin-bottom: 10px;
        padding: 0 30px;
    }
    h1::after {
        display: none;
    }
    h2 {
        font-size: 40px;
    }
    aside p, aside label[for=donate] {
        font-size: 16px;
    }
    nav {
        font-size: 15px;
    }
}

@media screen and (max-width: 750px) {
    header {
        height: auto;
    }
    label[for=hamburger-btn] {
        display: inline-block;
    }
    nav, nav ul {
        flex-direction: column;
    }
    nav {
        padding: 0 35px;
    }
    nav ul {
        height: 0;
        overflow: hidden;
        display: block;
        font-size: 21px;
        transition: height .3s;
    }
    nav li {
        height: auto;
    }
    nav li a {
        padding: 0;
    }
    #logo {
        margin: 12.5px 0;
    }
    #logo img {
        height: 45px;
    }
    #open-donate-menu label > span {
        font-size: 1em;
        padding: 0;
        background-color: unset;
        font-weight: normal;
        border: none;
    }
    #open-donate-menu label > span::after {
        display: none;
    }
    #open-donate-menu label > span:hover, #open-donate-menu label > span:active {
        margin-top: initial;
        padding-bottom: initial;
    }
    nav li {
        margin: 4px 0;
    }
    nav li::before, nav li::after {
        display: none;
    }
    #hamburger-btn:checked ~ ul {
        height: 185px;
    }
    #hamburger-btn:checked + label #hamburger-stroke {
        background-color: rgba(255, 255, 255, 0);
    }
    #hamburger-btn:checked + label #hamburger-stroke::before {
        transition: top .2s, bottom .2s, transform .2s .2s;
        bottom: 0;
        transform: rotate(45deg);
    }
    #hamburger-btn:checked + label #hamburger-stroke::after {
        transition: top .2s, bottom .2s, transform .2s .2s;
        top: 0;
        transform: rotate(-45deg);
    }
    #active-page::before {
        content: "";
        position: static !important;
        display: inline-block !important;
        height: .6em !important;
        width: .6em !important;
        background-color: #8AF7FF !important;
        opacity: 1 !important;
        margin-right: 5px !important;
    }
    section:not(#home) {
        padding: 25px 75px;
    }
    .float-container > img {
        float: none;
        width: 65%;
        margin: 0 auto 40px;
        display: block;
    }
    .icons {
        flex-direction: column;
    }
    .icons > li:not(:last-child) {
        margin-right: 0;
    }
    aside .big-container {
        margin: 0;
        border-radius: 0;
        min-height: 100vh;
    }
    footer {
        padding: 15px 20px;
    }
    footer li {
        margin: 5px;
    }
    footer a span, footer label span > span {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .float-container > img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    section:not(#home) {
        padding: 25px 45px;
    }
}

@media screen and (max-width: 425px) {
    aside h2 {
        padding: 0;
        margin-top: 42px;
    }
    h3 {
        font-size: 24px;
        margin-bottom: 8px;
    }
    footer li {
        margin: 5px 3px;
    }
    footer svg {
        height: 40px;
        width: 40px;
    }
}