/* ----- Général ----- */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 75px;
    font-family: 'Yantramanav', sans-serif;
    color: #282828;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.important {
    font-weight: bold !important;
    font-size: 1.45em !important;
    margin: 20px 0;
}

.subtitle {
    font-weight: bold !important;
    font-size: 1.2em !important;
    margin: 10px 0 5px;
}

/* ----- Header ----- */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: #282828;
    color: white;
    text-transform: uppercase;
    z-index: 10;
}

nav, nav ul {
    width: 100%;
    height: 100%;
    display: flex;
}

nav {
    align-items: center;
    padding: 0 20px;
    position: relative;
}

#logo {
    padding: 0 20px;
    display: flex;
}

nav li {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

#donate {
    margin-left: auto;
    margin-right: 20px;
}

#donate a {
    height: auto;
}

nav li:not(#donate)::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity .35s;
}

nav li:not(#donate)::before {
    background-color: #1C1C1C;
}

nav li:not(#donate):hover::before {
    opacity: 1;
}

nav li a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

nav li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #8AF7FF;
    opacity: 0;
    transition: opacity .35s;
}

#active-page::after {
    opacity: 1;
}

nav ul:hover #active-page::after {
    opacity: 0;
}

nav li:hover::after, #active-page:hover::after {
    opacity: 1 !important;
}

#hamburger-btn {
    display: none;
}

label[for=hamburger-btn] {
    position: absolute;
    top: 35px;
    left: 35px;
    transform: translateY(-50%);
    display: none;
}

label[for=hamburger-btn] span {
    display: inline-block;
}

#hamburger-stroke, #hamburger-stroke::before, #hamburger-stroke::after {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
}

#hamburger-stroke::before, #hamburger-stroke::after {
    content: "";
    position: absolute;
    transition: top .2s .2s, bottom .2s .2s, transform .2s;
}

#hamburger-stroke {
    position: relative;
    transition: background-color 0s .2s;
}

#hamburger-stroke::before {
    bottom: 12px;
}

#hamburger-stroke::after {
    top: 12px;
}

/* ----- Body ----- */

.btn {
    color: white;
    font-weight: bold;
    background-color: #FAB0FF;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity .35s;
    background-color: #F88FFF;
}

.btn:hover::before {
    opacity: 1;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 64px;
    text-shadow: 0 0 5px white;
    padding: 0 60px;
}

h1::after {
    content: "";
    height: 3px;
    width: 88%;
    display: block;
    margin: -3px auto 25px;
    background-color: #1C1C1C;
    border-radius: 1.5px;
}

#home {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background-image: url(https://cdn.cloudflare.steamstatic.com/steam/apps/345370/ss_058ca72c66aac8a3cb88e518ffd75c86c363efe6.1920x1080.jpg?t=1597353918);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px) brightness(0.9);
    z-index: -1;
}

section:not(#home) {
    padding: 25px 120px;
}

h2 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 60px;
    margin-bottom: 40px;
}

.float-container {
    width: 100%;
    overflow: hidden;
}

.float-container > img {
    float: left;
    width: 50%;
    margin: 0 30px 15px 0;
}

.float-container {
    font-size: 20px;
}

.float-container p {
    text-align: justify;
}

.icons {
    display: flex;
    flex-wrap: wrap;
}

.icons > li:not(:last-child) {
    margin-right: 75px;
}

.icons ul {
    display: flex;
    flex-wrap: wrap;
}

.icons ul li:not(:last-child) {
    margin-right: 25px;
}

.icons img {
    height: 45px;
}

/* ----- Medias queries ----- */

@media screen and (max-width: 1450px) {
    .icons {
        clear: left;
    }
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 56px;
    }
    h2 {
        font-size: 48px;
    }
    .btn {
        font-size: 1em;
    }
    .float-container {
        font-size: 16px;
    }
    .icons img {
        height: 32px;
    }
    .icons ul li:not(:last-child) {
        margin-right: 15px;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 46px;
        margin-bottom: 10px;
        padding: 0 30px;
    }
    h1::after {
        display: none;
    }
    h2 {
        font-size: 40px;
    }
    nav {
        font-size: 15px;
    }
}

@media screen and (max-width: 750px) {
    header {
        height: auto;
    }
    label[for=hamburger-btn] {
        display: inline-block;
    }
    nav, nav ul {
        flex-direction: column;
    }
    nav {
        padding: 0 35px;
    }
    nav ul {
        height: 0;
        overflow: hidden;
        display: block;
        font-size: 21px;
        transition: height .3s;
    }
    nav li {
        height: auto;
    }
    nav li a {
        padding: 0;
    }
    #logo {
        margin: 12.5px 0;
    }
    #logo img {
        height: 45px;
    }
    #donate a {
        font-size: 1em;
        padding: 0;
        background-color: unset;
        font-weight: normal;
    }
    #donate a::before {
        display: none;
    }
    nav li {
        margin: 4px 0;
    }
    nav li::before, nav li::after {
        display: none;
    }
    #hamburger-btn:checked ~ ul {
        height: 185px;
    }
    #hamburger-btn:checked + label #hamburger-stroke {
        background-color: rgba(255, 255, 255, 0);
    }
    #hamburger-btn:checked + label #hamburger-stroke::before {
        transition: top .2s, bottom .2s, transform .2s .2s;
        bottom: 0;
        transform: rotate(45deg);
    }
    #hamburger-btn:checked + label #hamburger-stroke::after {
        transition: top .2s, bottom .2s, transform .2s .2s;
        top: 0;
        transform: rotate(-45deg);
    }
    #active-page::before {
        content: "";
        position: static !important;
        display: inline-block !important;
        height: .6em !important;
        width: .6em !important;
        background-color: #8AF7FF !important;
        opacity: 1 !important;
        margin-right: 5px !important;
    }
    section:not(#home) {
        padding: 25px 75px;
    }
    .float-container > img {
        float: none;
        width: 65%;
        margin: 0 auto 40px;
        display: block;
    }
    .icons {
        flex-direction: column;
    }
    .icons > li:not(:last-child) {
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .float-container > img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    section:not(#home) {
        padding: 25px 45px;
    }
}